body  {
    margin: 50px;
    background-color: rgb(255, 255, 255);
}

p {
    font-size: 14px;
}

a {
    font-size:  16px;
}

nav {
    background-color: rgb(224, 146, 50);
    height: 40px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
